.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:26rem;
   background:#ffffff;
}

.contact-subtitle{
    width: 37rem;
}

.form-contact{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 26rem;
    align-items: center;
}

.title-fom{
    margin: 0 0 0.625rem 0;
    text-align: center;
    font: 1.75rem/1.719rem 'Amaranth';
    font-weight: 400;
    color: var(--title);
}

.form-contact .input-contact{
    height: 3rem;
    width: 34.688rem;
    border-radius: .6rem;
    border:.2rem solid rgb(248, 191, 191);
    margin-top: 1rem;
    padding: 1.2rem;
}

.form-contact .message-contact{
    width: 34.688rem;
    height: 10.938rem;
    border-radius: .6rem;
    border:.2rem solid rgb(248, 191, 191);
    margin-top: 1rem;   
    padding: 1rem 0 0 1.2rem;
}

.button-form{
    margin-top: 1.2rem;
    outline: none;
    cursor: pointer;
    background-color: #A8B8ED;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.button-form:hover{
    background-color: #6180ED;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    box-shadow: .1rem .1rem .8rem rgba(71, 59, 100, 0.534);
}

